<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>openglesForIos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF24A13C1D6BE7EE001AE2AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF24A1551D6BE7EE001AE2AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF24A1601D6BE7EE001AE2AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
